body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mensajePropio {
  text-align: right;
  background: #88de88;
  width: 234px;
  border-radius: 5px;
  padding: 5px;
}

.mensajeExterno {
  text-align: left;
  background: #f7c9e9;
  width: 234px;
  border-radius: 5px;
  padding: 5px;
}
